<header class="bg-gray-200 text-white">
    <div class="">
      <button mat-button routerLink="vocabulary" class="hover:bg-gray-700 rounded-md transition-all">Vocabulary</button>
      <button mat-button class="hover:bg-gray-700 py-2 px-4 rounded-md transition-all">Lessons</button>
    </div>

    <!-- Center-aligned Search button -->
    <div class="justify-items-center">
      <button mat-button (click)="openSearchDialog()" class="hover:bg-gray-700 p-2 rounded-md transition-all">
        <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
      </button>
    </div>

    <!-- Right-aligned Login button -->
    <div class="justify-items-end">
      <button mat-button routerLink="login" class="py-2 px-4 rounded-md bg-blue-600 hover:bg-blue-700 transition-all">
        Login
      </button>
    </div>
</header>
